@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit-sans);
  --font-bebas-sans: var(--font-bebas-neue-sans);
}

body {
  font-family: 'Outfit';
}
